.section {
  padding-bottom: 54px;
  > .title {
    line-height: 1.25;
    color: #6e6e73;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .007em;
    span {
      color: rgb(29, 29, 31);
    }
  }
  .cards {
    .card {
      width: 20em;
      height: 30em;
      margin-right: 20px;
      position: relative;
      overflow: hidden;
      border-radius: 18px;
      box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
      transition: all .3s cubic-bezier(0,0,.5,1);
      background-repeat: no-repeat;
      background-size: cover; 
      background-position: center; 
      display: block;;
      &:hover {
        box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
        transform: scale3d(1.01,1.01,1.01);
      }
      .info {
        position: absolute;
        left: 0;
        padding: 30px;
        width: 100%;
        top: 0;
        font-weight: 600;
        box-sizing: border-box;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.08) 80%, rgba(0, 0, 0, 0) );
        transition: none;
        .feat {
          margin-bottom: 0.4em;
          font-size: 12px;
          line-height: 1.33337;
          color: #6e6e73;
          padding-bottom: 8px;
        }
        .title {
          color: #1d1d1f;
          font-size: 24px;
          margin: 0;
        }
        .desc {
          font-size: 13px;
          font-weight: 400;
          padding-top: 10px;
          margin-top: 0;
          color: #1d1d1f;
          margin-bottom: 5px;
        }
        .opt {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
    .glider-prev, .glider-next {
      top: 50%;
      transform: translateY(-50%);
      transition-duration: 0.5s;
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
      svg{
       fill: rgba(0,0,0,.4);
       &:hover {
        fill: rgba(0,0,0,.35);
       }
      }
    }
    .glider-prev{
      left: -60px;
    }
    .glider-next {
      right: -60px;
    }
  }
}

.sections{
  .card{
    &.card-project-crm, 
    &.card-project-patrol, 
    &.card-project-electron-ui, 
    &.card-project-component-tools,
    &.card-project-portfolio,
    &.card-project-fancy-dsa {
      .info {
        p {
          color: #fff!important;
        }
      }
    }
  }
}