@import url(../normalize.less);
@import url(../skeleton.less);
@import url(../btn.less);
@import url(../var.less);
@import url(../glider.less);


/* common classes */

.ac-content {
	margin: 0 auto;
	max-width: var(--max-page-width);
	padding: 0 22px;
	position: relative;
}

section.page-content {
	margin-top: var(--header-height);
}

i.icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    width: 100%;
    height: 100%;
  }
}

.glider-contain {
}