.btn {
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 980px;
  font-size: 12px;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  &.btn-primary{
    background: #0071e3;
    color: #fff;
  }
}