:root {
	/* global */
	--dark-blue: #006ce9;
	--light-blue: #18b6f6;
	--light-purple: #ac7ff4;
	--dark-purple: #713fc2;
  --max-page-width: 980px;

	/* header */
	--header-height: 44px;
	--header-background-color: rgba(0, 0, 0, 0.8);

  // common banner
  --banner-height: 52px;
}