:root {
  color-scheme: light;
	/* global */
	--primary-color: #0071e3;
  --max-page-width: 980px;

	/* header */
	--header-height: 44px;
	--header-background-color: rgba(0, 0, 0, 0.8);

  // footer
  --footer-height: 109px;

  // sidebar
  --sidebar-width: 208px;

  // common banner
  --banner-height: 52px;

  // mixins
  --bg-color: #ffffff;
  --bg-secondary-color: #f7f8fb;
  --bg-header-color: #ffffff9e;
  --text-color: #0e201a;
  --secondary-text-color: #171a19;
  --interactive-text-color: var(--primary-color);
  --scroll-margin-top: var(--header-height);

  --code-bg-color: #e0e0e0;
  --code-border-color: #bfbfbf;
  --blockquote-bg-color: #f1f5fe;

  --content-nav-button-text-color: var(--interactive-text-color);
  --content-nav-button-bg-color: var(--primary-color);
  --content-nav-button-hover-bg-color: var(--bg-color);
}