.content.__resume_content__ {
  // variable
  --primary-color: #BD3421;
  --title-text-color: #fff;
  --default-text-color: #000;
  --secondary-text-color: rgb(101, 101, 101);

  padding: 16px 8px;
  background: #fff;
  text-align: left;
  box-sizing: border-box;
  font-weight: 440;
  .key {
    color: var(--secondary-text-color);
    margin-right: 1em;
    position: relative;
    &::after{
      position: absolute;
      content: ':';
      right: -0.4em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  section {
    padding-top: 8px;
    padding-bottom: 20px;
    &#common {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .album {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-image: url(/asset/image/idpic.png);
        background-position: center;
        background-size: 80%;
        background-color: #CCD0D9;
        margin-right: 20px;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex:1;
        h1 {
          margin-bottom: 0.4em;
        }
        p {
          margin: 0;
          span {
            margin: 0 0.5em;
            &:first-of-type {
              margin-left: 0;
            }
          }
        }
      }
    }
    .block {
      margin: 0;
      &:not(:last-of-type) {
        margin-bottom: 0.2em;
      }
    }

  }
  h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.3em;
    margin-bottom: 0.6em;
  }
  h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0.6em;
    color: var(--title-text-color);
    position: relative;
    letter-spacing: 0.08em;
    span {
      background: var(--primary-color);
      padding: 0.1em 0.6em;
      border-radius: 0.6em;
      z-index: 1;
      display: inline-block;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 0;
      width: 86%;
      border: 1px dashed  var(--primary-color);
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;;
    li {
      margin-bottom: 0.6em;
      list-style: none;
    }
    &.vertical {
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: 0.34em;
      }
    }
    &.mark {
      li {
        list-style: disc;
        margin-left: 16px;
      }
    }
  }
  a {
    color: var(--default-text-color);
    display: inline-block;
    svg {
      fill: var(--default-text-color);
    }
    &:hover {
      color: var(--primary-color);
      svg {
        fill: var(--primary-color)!important;
      }
    }
    &.more {
      vertical-align: middle;
      line-height: 16px;
      font-size: 10px;
      opacity: 0.4;
      i {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-left: 0.15em;
        vertical-align: middle;
        svg {
          width: 10px;
          height: 10px;
          fill: rgb(170, 169, 169);
        }
      }
    }
  }
  p {
    margin-bottom: 0.5em;
    &.title {
      font-weight: 500;
      span {
        &:not(:first-of-type) {
          margin-left: 0.88em;
        }
      }
    }
  }
}