.ac-content {
	.banner {
		height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    .avatar{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      .name {
        color: #000;
        transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
        opacity: .88;
        font-size: 16px;
        font-weight: 600;
        margin-left: 0.2em;
        &:hover {
          opacity: 1;
        }
      }
    }
    .banner-right{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        &:not(:last-of-type) {
          margin-right: 0.6em;
        }
      }
      .contact {
        .icon {
          margin-right: 0.4em;
        }
      }
    }
	}
}
