section {
  padding: 60px 0;
  text-align: center;
  letter-spacing: 0em;
  &.me {
    padding-bottom: 0;
    .name {
      font-weight: 600;
      margin-bottom: 0.5em;
      border-color: #bf4800;
      color: #f56300;
    }
    .career{
      font-size: 56px;
      font-weight: 600;
      margin: 0;
    }
    .tech{
      font-size: 18px;
      font-weight: 600;
    }
    .slogan {
      font-size: 16px;
      font-weight: 400;
      font-style: oblique;
    }
    .opt {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
  }
  &.city {
    padding-bottom: 0;
    border-bottom: 4px solid #000;
    background-color: #000;
    color: #f5f5f7;
    .icon {
      margin-right: 0.4em;
      svg {
        fill: #f5f5f7;
        width: 15px;
      }
    }
    .name {
      font-weight: 600;
      margin-bottom: 0.5em;
      border-color: #bf4800;
      color: #f56300;
    }
    .future{
      font-size: 56px;
      font-weight: 600;
      margin: 0;
    }
    .from{
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        display: flex;
        align-items: center;
        margin: 0 0.5em;
      }
    }
    .slogan {
      font-size: 16px;
      font-weight: 400;
      font-style: oblique;
    }
    .opt {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 46px;
      .chat {
        svg {
          fill: #06c;
        }
      }
    }
  }
  &.tech {
    margin-bottom: 0;
    .title {
      font-size: 56px;
      font-weight: 600;
      color: #000;
    }
    .tech-list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .opt {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 42px;
      .resume {
        padding-right: 0;
      }
    }
  }
  &.reading {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #01012a;
    overflow: hidden;
    min-height: 555px;
    justify-content: space-evenly;
    padding: 17px 14px 13px 0;
    color: #fff;
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .left {
      width: 50%;
      .inner {
        .book-icon {
          width: 28px;
          svg{
            width: 68px;
          }
        }
        > p {
          font-size: 56px;
          font-weight: 600;
          margin: 0;
        }
      }
    }
    .right {
      flex: 1;
      img {
        width: 400px;
      }
    }
    .opt {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 42px;
      .icon {
        &.github svg {
          fill: #fff;
        }
      }
    }
  }
  &.writing {
    background-image: url(https://cdn.staticaly.com/gh/jonsam-ng/image-hosting@master/2022/image.6pgm5w75lns0.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .inner {
      width: 50%;
      height: 100%;
      color: #f5f5f7;
      .w1 {
        margin-bottom: 0.4em;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: .009em;
      }
      .w2 {
        font-size: 48px;
        line-height: 1.08349;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0.4em;
      }
      .list {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          display: flex;
          align-items: center;
          margin: 0 0.5em;
          .icon {
            margin-right: 0.2em;
          }
        }
      }
      .opt {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 42px;
        .btn.more {
          padding-right: 0px;
        }
        .github {
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .section {
    &.reading {
      flex-direction: column;
      .left .inner p {
        font-size: 36px;
      }
    }
    &.writing {
      .inner {
        width: 100%;
      }
    }
    &.tech {
      .title {
        font-size: 46px;
      }
    }
  }
}