/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@import url(./style/index.less);

html {
  height: 100%;
}

body {
	background-color: #ffffff;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		sans-serif;
	padding: 0;
	margin: 0;
	border-top: 1px solid transparent;
	margin-top: -1px;
	position: relative;
	background: linear-gradient(#f5f5f7, #fff 0%);
	user-select: none;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  height: 100%;
}

body:lang(zh-CN) {
	font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
		"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	letter-spacing: 0em;
	quotes: "“" "”";
}

main {
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
}

code {
	font-family: Menlo, Monaco, Courier New, monospace;
	font-size: 0.9em;
	background-color: rgb(224, 224, 224);
	padding: 2px 4px;
	border-radius: 3px;
	border-bottom: 2px solid #bfbfbf;
}

ul {
	margin: 0;
	padding: 0;
  li {
    list-style: none;
  }
}

a {
	text-decoration: none;
}

img, a {
  user-drag: none;
  -webkit-user-drag: none;
}